.userProfileContainer {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: aliceblue;
}

.userProfileContainer h1{
    text-align: center;
}

.userProfileContainer .profileDetails {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px solid goldenrod;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.userProfileContainer .profileDetails .imageAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.userProfileContainer .profileDetails .imageAvatar img {
    width: 220px;
    height: 220px;
    /* border: 2px solid goldenrod; */
    background-size: cover;
    border-radius: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.userProfileContainer .profileDetails .userDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.userProfileContainer .profileDetails .userDetails .oneDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

span label {
    width: 180px;
    background-color: #05090a;
    padding: 10px 0;
    text-align: center;
    color: dodgerblue;
    border-radius: 4px;
}

.changePassword {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.changePassword span label {
    width: 220px;
    padding: 10px 20px;
}

.changePassword span input {
    width: 300px;
    height: 48px;
    background-color: #05090a;
    border: 1px solid #18272e;
    border-radius: 5px;
    color: aliceblue;
    padding: 0 20px;
    letter-spacing: 4px;
    font-size: 100%;
}

.changePassword button {
    width: 150px;
    height: 40px;
    margin: 30px auto 0 auto;
    background-color: #0275d8;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    color: white;
    font-size: .9rem;
    transition: all .15s ease;
    cursor: pointer;
}

.changePassword button:hover {
    background-color: #0467be;
    transform: translateY(2px);
}